h1{
    color: red;
    font-size:100px;
}
body{
    background-color: seagreen;
}
p{
    font-size: 50px;
    color:yellow;
    text-align: center;
}
h2{
    color:maroon;
    font-size: 100px;
    text-align: center;
}
